CT_EXPERIMENTAL=y
CT_LOCAL_TARBALLS_DIR="${HOME}/src"
CT_SAVE_TARBALLS=y
CT_LOG_EXTRA=y
CT_ARCH_CPU="8548"
CT_ARCH_TUNE="8548"
CT_ARCH_FLOAT_SW=y
CT_TARGET_CFLAGS="-mfloat-gprs=double -Wa,-me500x2 -O2"
CT_ARCH_powerpc=y
CT_ARCH_powerpc_ABI_SPE=y
CT_TARGET_VENDOR="e500v2"
CT_KERNEL_linux=y
CT_KERNEL_V_3_9=y
CT_BINUTILS_EXTRA_CONFIG_ARRAY="--enable-spe=yes --enable-e500x2 --with-e500x2"
CT_LIBC_glibc=y
CT_LIBC_GLIBC_EXTRA_CONFIG_ARRAY=" --enable-static-nss"
CT_CC_GCC_SHOW_LINARO=y
CT_CC_CUSTOM=y
CT_CC_CUSTOM_LOCATION="/opt/turris/.build/tarballs/gcc-5-20150315"
CT_CC_LANG_CXX=y
CT_CC_LANG_OTHERS="go"
CT_CC_CORE_EXTRA_CONFIG_ARRAY="--with-long-double-128 --enable-e500_double"
CT_CC_EXTRA_CONFIG_ARRAY="--with-long-double-128 --enable-e500_double"
